body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 25px;
}

.page-footer {
  padding-top: 0px !important;
}

.loading-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  z-index: 900;
}

.preloader-wrapper {
  margin-left: -20px;
  margin-top: -20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* hide border on last table element */
table tr:last-child {
    border: none !important;
}

/*presences view */
.presences-user-view .circle {
  width: 64px;
  height: 64px;
   /* teal lighten-2 */
  border: 3px solid #4db6ac !important;
}

.presences-user-view .btn {
  margin-top: -38px;
  padding: 0 0.5rem;
  height: 15px;
  line-height: 15px;
  font-size: 0.7rem;
}
