body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 25px;
}

.page-footer {
  padding-top: 0px !important;
}

.loading-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  z-index: 900;
}

.preloader-wrapper {
  margin-left: -20px;
  margin-top: -20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
