<!DOCTYPE html>
<html data-ng-app="AppmaxxLightmanager2">
  <head>
    <title>AppmaxxLightmanger2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="lib_css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="lib_css/materialize-0.100.2.min.css"/>

    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body data-ng-controller="TestCtrl" data-ng-cloak>

    <header>
      <div class="navbar-fixed">
        <nav class="teal lighten-2">
         <div class="nav-wrapper">
           <a href="#" class="brand-logo center"><i class="material-icons">home</i> {{title}}</a>
           <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
         </div>
       </nav>
     </div>
     <ul id="slide-out" class="side-nav">
       <li><div class="user-view">
         <div class="background">
           <img src="http://materializecss.com/images/office.jpg">
         </div>
         <a href="#!user"><img class="circle" src="images/users/tim.jpg"></a>
         <a href="#!name"><span class="white-text name">Tim Winselmann</span></a>
         <a href="#!email"><span class="white-text email">twinselmann@gmail.com</span></a>
       </div></li>
       <li><a class="subheader">Navigation</a></li>
       <li><a class="waves-effect" href="#!home"><i class="material-icons">home</i>Home</a></li>
       <li><a class="waves-effect" href="#!history"><i class="material-icons">history</i>Historie</a></li>
       <li><div class="divider"></div></li>
       <li><a class="subheader">Daten</a></li>
       <li><a class="waves-effect" href="#!reload"><i class="material-icons">refresh</i>Neu laden</a></li>
       <li><a class="waves-effect" href="#!reload"><i class="material-icons">settings</i>Verwalten</a></li>
     </ul>
    </header>


    <div class="loading-wrapper" data-ng-show="loading">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <main class="container" >

      <div class="row grid" data-ng-hide="loading">
        <div class="grid-sizer col s1"></div>

        <!-- presence status -->
        <div class="col s12 m6 l4 grid-item">
          <div class="card hoverable">
          <div class="card-content">
            <div class="card-title"><i class="material-icons left">home</i>Who's in?</div>
            <div class="row presences-user-view">
              <div class="col s4 center" data-ng-repeat="user in users">
                <div style="position: relative; width: 64px; height: 64px;">
                  <img style=" display: block;" class="circle" data-ng-src="images/users/{{user.name}}.jpg">
                  <span style="left:0; bottom: 0; width: 100%; text-align: center;">
                    <a class="waves-effect waves-light btn" data-ng-class="{ 'red': !user.home}">{{user.home ? 'HOME' : 'AWAY'}}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- lights -->
        <div class="col s12 m6 l4 grid-item" data-ng-repeat="room in rooms | orderBy:'name'">
            <div class="card hoverable">
            <div class="card-content">
              <div class="card-title"><i class="material-icons left">{{room.icon}}</i>{{room.name}}<span class="new badge" data-ng-class="{ 'red': room.temperature > 24}" data-badge-caption="&deg;C">{{room.temperature | number: '1'}}</span></div>

              <table class="bordered highlight">
                <tbody>
                  <tr data-ng-repeat="light in room.lights | orderBy:'name'" data-ng-click="light.checked = !light.checked; toggleLight($event, room, light);" style="cursor: pointer;">
                    <td>{{light.name}}</td>
                    <td style="text-align: right;">
                      <div class="switch">
                        <label>
                          <input type="checkbox" data-ng-model="light.checked">
                          <span class="lever"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-action center-align">
              <a class="btn waves-effect waves-light teal lighten-2" data-ng-click="publishMqttMessage();"><i class="material-icons left">cloud</i>MQTT!</a>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="page-footer teal lighten-2">
      <div class="footer-copyright">
        <div class="container">
        &copy; 2017 Copyright AppmaxxLightmanager2
        <i class="material-icons right tooltipped" data-position="top" data-delay="50" data-tooltip="{{mqttConnected ? 'MQTT connected' : 'MQTT not connected'}}">{{mqttConnected ? 'signal_wifi_4_bar' : 'signal_wifi_off'}}</i>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js and AngularJS-->
    <script src="lib_js/jquery-3.2.1.min.js"></script>
    <script src="lib_js/materialize-0.100.2.min.js"></script>
    <script src="lib_js/paho-mqtt-1.0.3.min.js"></script>
    <script src="lib_js/angular-1.4.9.min.js"></script>
    <script src="lib_js/masonry.pkgd.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/mqtt.js"></script>
    <script src="js/testCtrl.js"></script>
  </body>
</html>
